<%= form_with(model: [:admins, display_user], local: true) do |form| %>
  <% if display_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(display_user.errors.count, "error") %> prohibited this display user from being saved:</h2>

      <ul>
        <% display_user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% @int_fields.each do |display_user_field| %>
    <div class="field <%= display_user_field %>">
      <%= form.label display_user_field %>
      <%= form.number_field display_user_field %>
    </div>
  <% end %>

  <% @text_fields.each do |display_user_field| %>
    <div class="field <%= display_user_field %>">
      <%= form.label display_user_field %>
      <%= form.text_field display_user_field %>
    </div>
  <% end %>

  <% @text_area_fields.each do |display_user_field| %>
    <div class="field <%= display_user_field %>">
      <%= form.label display_user_field %>
      <%= form.text_area display_user_field %>
    </div>
  <% end %>

  <% @checkbox_fields.each do |display_user_field| %>
    <div class="field <%= display_user_field %>">
      <%= form.label display_user_field %>
      <%= form.check_box display_user_field %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>