<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= will_paginate %>
      <% @display_users.each do |display_user| %>
        <tr>
          <td><%= display_user.id %></td>
          <td><%= display_user.name %></td>
          <td><%= link_to 'Edit', edit_admins_display_user_path(display_user) if @admin.present? %></td>
        </tr>
      <% end %>
    <%= will_paginate %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_admins_display_user_path %>